<h2>Filmes</h2>
<div class="card-columns">
    <div class="card">
        <img src="assets/pelis/train.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">John Frankenheimer</h5>
            <p class="card-text">As the Allied forces approach Paris in August 1944, German Colonel Von Waldheim is desperate to take all of France’s greatest paintings to Germany. He manages to secure a train to transport the valuable art works even as the chaos of retreat descends upon them. </p>
        </div>
    </div>
    <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
            <img src="assets/pelis/casa.jpg" class="card-img-top" alt="...">
        </blockquote>
    </div>
    <div class="card">
        <img src="assets/pelis/bob.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Martin Scorsese</h5>
            <p class="card-text">Part documentary, part concert film, part fever dream, this film captures the troubled spirit of America in 1975 and the joyous music that Dylan performed during the fall of that year.</p>
        </div>
    </div>
    <div class="card bg-danger text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <img src="assets/pelis/indy.jpg" class="card-img-top" alt="...">
          </blockquote>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <img src="assets/pelis/pierrot.jpg" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="card">
          <img src="assets/pelis/queer.jpg" class="card-img" alt="...">
    </div>
    <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
            <img src="assets/pelis/volver.jpg" class="card-img-top" alt="...">
        </blockquote>
    </div>
    <div class="card">
        <div class="card-body">
            <img src="assets/pelis/miami.jpg" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="card">
        <img src="assets/pelis/hiro.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Alain Resnais</h5>
            <p class="card-text">The deep conversation between a Japanese architect and a French actress forms the basis of this celebrated French film.</p>
        </div>
    </div>
    <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
            <img src="assets/pelis/stop.jpg" class="card-img-top" alt="...">
        </blockquote>
    </div>
    <div class="card">
        <img src="assets/pelis/rasho.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Akira Kurosawa</h5>
            <p class="card-text">Brimming with action while incisively examining the nature of truth, “Rashomon” is perhaps the finest film ever to investigate the philosophy of justice.</p>
        </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
        <blockquote class="blockquote mb-0">
            <img src="assets/pelis/aliens.jpg" class="card-img-top" alt="...">
        </blockquote>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <img src="assets/pelis/aggro.jpg" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="card">
        <img src="assets/pelis/lost.jpg" class="card-img" alt="...">
    </div>
    <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
            <img src="assets/pelis/blow.jpg" class="card-img-top" alt="...">
        </blockquote>
    </div>
</div>

<h2>Videojuegos</h2>
<div class="wrapper">
    <div class="item"><img src="assets/juegos/msg.png"></div>
    <div class="item"><img src="assets/juegos/msg2.jpg"></div>
    <div class="item"><img src="assets/juegos/sys.jpg"></div>
    <div class="item"><img src="assets/juegos/sw.jpg"></div>
    <div class="item"><img src="assets/juegos/grim.jpg"></div>
    <div class="item"><img src="assets/juegos/hyl.jpg"></div>
    <div class="item"><img src="assets/juegos/yakuza.jpg"></div>
    <div class="item"><img src="assets/juegos/p5.jpg"></div>
    <div class="item"><img src="assets/juegos/ds.jpg"></div>
    <div class="item"><img src="assets/juegos/blood.jpg"></div>
    <div class="item"><img src="assets/juegos/dark.jpg"></div>
    <div class="item"><img src="assets/juegos/hades.jpg"></div>
    <div class="item"><img src="assets/juegos/me.jpg"></div>
    <div class="item"><img src="assets/juegos/unc.jpg"></div>
    <div class="item"><img src="assets/juegos/insi.png"></div>
    <div class="item"><img src="assets/juegos/ri.jpg"></div>
    <div class="item"><img src="assets/juegos/blas.jpg"></div>
    <div class="item"><img src="assets/juegos/ds2.jpg"></div>
    <div class="item"><img src="assets/juegos/hl.jpg"></div>
    <div class="item"><img src="assets/juegos/metro.jpg"></div>
</div>

<h2>Música</h2>
<div class="covers">
    <div class="cover">
        <img src="assets/music/sling.jpg">
        <div class="overlay">
            <div class="texto">Sling</div>
        </div>
    </div>
    <div class="cover">
        <img src="assets/music/lets.jpg">
        <div class="overlay">
            <div class="texto">Let's Get It On</div>
        </div>
    </div>
    <div class="cover">
        <img src="assets/music/bloom.jpg">
        <div class="overlay">
            <div class="texto">Bloom</div>
        </div>
    </div>
    <div class="cover">
        <img src="assets/music/smiths.png">
        <div class="overlay">
            <div class="texto">The Smiths</div>
        </div>
    </div>
</div>